@import url("https://fonts.googleapis.com/css?family=PT+Sans");

.container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: center;
  background-color: #ccc;
  border: 1px red;
}

#header {
  background: rgb(221, 157, 157);
  font-size: 0.5em;
  border: 1px blue;
  border-radius: 25px;
}

#navigation {
  background: rgb(152, 214, 243);
  font-size: 0.5em;
  border: 1px blue;
}

#content {
  background: rgb(243, 219, 152);
  font-size: 0.5em;
  border: 1px orange;
}

#footerdinho {
  background: rgb(167, 243, 152);
  font-size: 0.5em;
  border: 1px green;
}
